{% extends 'base.html' %}

{% block title %}
{{ super() }} | All recipes list
{% endblock %}

{% block content %}
        {% for recipe in all_recipes %}
        <h2><a href="{{ url_for('recipes.detail', object_hash=recipe.id) }}">{{ recipe.name }}</a></h2>
        <article>
            <p>{{ recipe.description }}</p>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient }}</li>
                {% endfor %}
            </ul>
        </article>
        {% endfor %}
{% endblock %}
