.idea/
*.pyc

#OS junk files
[Tt]humbs.db
*.DS_Store

#Visual Studio files
*.[Oo]bj
*.user
*.aps
*.pch
*.ncb
*.suo
*.tlb
*.tlh
*.[Cc]ache
*.ilk
*.lib
*.sbr
*.sdf
*.opensdf
[Oo]bj/
[Bb]in
[Dd]ebug*/
[Rr]elease*/

#Tooling
_ReSharper*/
*.resharper

#Project files
[Bb]uild/
